* {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	height: 100%;
	overflow: hidden;
  word-break:  break-all;
}
.container {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 20em;
}
.sidebar-closed .container {
  right: 0;
}
.sidebar {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 20em;
  background: rgba(0, 0, 0, 0.75);
  box-sizing: border-box;
  padding: 2em;
  color: #fff;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: ease-out;
  overflow: auto;
  z-index: 1;
}
.sidebar-toggle {
  position: absolute;
  right: 0;
  top: 0;
  padding: 1em;
  margin: 0.2em;
  cursor: pointer;
  color: #888;
  z-index: 9999999;
}

.sidebar-closed .sidebar {
  opacity: 0;
  pointer-events: none;
}
.sidebar .form {
  margin-top: 20px;
}
.sidebar .form .select2-container{
  display: block;
}
.sidebar .form input,
.sidebar .form select {
  display: block;
}


a:hover {
  color: #62daea;
}

@media (max-width: 600px){
  .container {
    right: 0;
  }
}